/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Bai Jamjuree', sans-serif;

  /*--fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.5rem;
  --fs-xlg: 1.75rem;
  --fs-xxlg: 2rem;
  --fs-xxxlg: 2.25rem;
  --fs-xxxxlg: 2.875rem; */

  --fs-base: clamp(1rem, 0.955rem + 0.189vi, 1.125rem); /* 16px -18px*/
  --fs-md: clamp(1.2rem, 1.126rem + 0.311vi, 1.406rem); /* 19.2px - 22.5px*/
  --fs-lg: clamp(1.44rem, 1.326rem + 0.48vi, 1.758rem); /* 23.04px - 28.125px*/
  --fs-xlg: clamp(1.728rem, 1.56rem + 0.708vi, 2.197rem); /* 27.6px - 35.1px */
  --fs-xxlg: clamp(
    2.074rem,
    1.832rem + 1.016vi,
    2.747rem
  ); /* 33.1px - 43.9 px*/
  --fs-xxxlg: clamp(2.488rem, 2.15rem + 1.426vi, 3.433rem); /* 39.8px - 54.9px*/
  --fs-xxxxlg: clamp(
    2.986rem,
    2.518rem + 1.971vi,
    4.292rem
  ); /* 47.7px - 68.6px */

  --fw-normal: 400;
  --fw-bold: 600;

  --clr-primary-400: hsl(171, 66%, 44%);
  --clr-primary-600: hsl(233, 100%, 69%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsla(201, 11%, 66%, 0.1);

  --clr-neutral-400: hsla(201, 11%, 66%);
  --clr-neutral-500: hsl(210, 10%, 33%);
}

/* CSS RESET */

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* BODY STYLES */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  line-height: 1.6;
}

/* TYPOGRAPHY STYLES */

h1,
h2,
h3 {
  color: var(--clr-neutral-500);
  font-weight: var(--fw-bold);
  text-align: center;
  line-height: 1.1;
  padding-inline: 1rem;
}

h1 {
  font-size: var(--fs-xxlg);
}

h2 {
  font-size: var(--fs-xlg);
}

h3 {
  font-size: var(--fs-lg);
}

p {
  font-size: var(--fs-base);
  color: var(--clr-neutral-400);
  padding: 0 1.5rem;
  text-align: center;
  line-height: 1.7;
}

/* HEADER STYLES */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
}

.header--img {
  margin-top: 7rem;
}

.header--title {
  margin-top: 4rem;
}

/* LAYOUT STYLES */

/*.wrapper {
  min-width: 23.75rem;
  padding: 0 3rem;
}*/

.wrapper {
  width: min(90rem, 100% - 1rem);
  margin-inline: auto;
}

.section--title {
  margin-bottom: 1.5rem;
}

.section--subtitle {
  margin-bottom: 1rem;
}

/* UTILITY CLASSES */

.flow-content > * + * {
  margin-top: 2rem;
}

.text-align {
  text-align: center;
}

.spacer {
  margin-top: 2.5rem;
}

.spacer-md {
  margin-top: 5rem;
}

.spacer-lg {
  margin-top: 7rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.flex-social {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 50rem) {
  .flex {
    flex-direction: row;
    gap: 4rem;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .col {
    width: 100%;
    height: 100%;
  }

  .col + .col {
    margin-left: 4em;
  }
}

/* COMPONENT STYLES */

.btn {
  font-size: var(--fs-md);
  color: var(--clr-neutral-100);
  padding: 1rem 5rem;
  border-radius: 1.75rem;
  border: none;
  cursor: pointer;
}

.btn--accent1 {
  background: var(--clr-primary-400);
  box-shadow: 0px 10px 20px 0px hsla(171, 66%, 44%, 0.5);
}

.btn--accent1:hover,
.btn--accent1:focus {
  background: hsla(171, 66%, 44%, 0.7);
  outline: 1px solid var(--clr-neutral-100);
  transition: all 400ms ease-in-out;
}

.btn--accent2 {
  background: var(--clr-primary-600);
  box-shadow: 0px 10px 20px 0px hsla(233, 100%, 69%, 0.5);
  transition: all 400ms ease-in-out;
}

.btn--accent2:hover,
.btn--accent2:focus {
  background: hsla(233, 100%, 69%, 0.7);
  outline: 1px solid var(--clr-neutral-100);
}

/* FOOTER STYLES */

footer {
  width: 100%;
  background-color: var(--clr-neutral-300);
}

footer a {
  color: var(--clr-neutral-500);
  font-size: var(--fs-md);
}

footer a:hover,
footer a:focus {
  color: var(--clr-primary-400);
  border-bottom: 2px solid var(--clr-primary-400);
  transition: all 250ms ease-in-out;
}

.footer--img {
  max-width: 3.4375rem;
  max-height: 3.4375rem;
}

.footer--social svg {
  cursor: pointer;
}

.footer--social svg:hover path {
  fill: var(--clr-primary-400);
  transition: all 350ms ease-in-out;
}
